<div class="settings-page-container">
    <div class="settings-content">
        <div class="orbital-container">
            <div class="center-icon">
                <div class="battery-icon">
                    <!-- Battery icon SVG will be here -->
                </div>
            </div>
            <div class="process-orbit">
                <!-- Process buttons will be dynamically added -->
            </div>
            <div class="tank-orbit">
                <!-- Tank buttons will be dynamically added -->
            </div>
        </div>
    </div>
</div>