<div class="settings-container">
    <div class="settings-buttons">
        <button class="settings-button users">
            <img src="assets/users-icon.svg" alt="Users">
            Users
        </button>
        <button class="settings-button battery">
            <img src="assets/battery-icon.svg" alt="Battery">
            Battery
        </button>
        <button class="settings-button reagents">
            <img src="assets/reagents-icon.svg" alt="Reagents">
            Reagents
        </button>
        <button class="settings-button camera">
            <img src="assets/camera-icon.svg" alt="Camera">
            Camera
        </button>
        <button class="settings-button setup">
            <img src="assets/setup-icon.svg" alt="Setup">
            Setup
        </button>
        <button class="settings-button support">
            <img src="assets/support-icon.svg" alt="Support">
            Support
        </button>
    </div>
</div> 