<div class="settings-page-container">
    <!-- Sub-header section -->
    <div class="users-sub-header">
        <div class="user-actions">
            <button class="circle-btn add-user" title="Add User">
                <img src="assets/plus-icon.svg" alt="Add">
            </button>
            <button class="circle-btn edit-users" title="Edit Users">
                <img src="assets/edit-icon.svg" alt="Edit">
            </button>
        </div>
        <div class="company-profile">
            <button class="login-btn">Login</button>
            <div class="profile-image">
                <!-- Placeholder company logo or initials -->
                <span>LC</span>
            </div>
        </div>
    </div>

    <!-- User cards container -->
    <div class="users-list">
        <!-- User cards will be dynamically inserted here by JavaScript -->
    </div>
</div>